@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Charm');
/* Universal styling */
*{
    box-sizing: border-box;
}
body{
    background-color: #444444;
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;

}
/* Layout styling */

.container{
    width: 80%;
    margin: 0 auto;
}
.logo{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.nav-items li{
    list-style: none;
}
.nav-items a{
    display: none;
    text-decoration: none;
}
.call{
    font-family: 'Charm', cursive;
    font-size: 60px;
    line-height: 70px;
}
.watch{
    width: 70%;
    text-align: center;
}
.primary{
    margin-top: 80px;
    height: 100vh;
}
.action p{
    margin-bottom: 50px;
}
.call-to-action{
    background-color: #fdc615;
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    border-radius: 50px 50px;
}
.action a{
    text-decoration: none;
}
.action a:hover{
    border: 2px solid #fdc615;
    background-color: #444444;
    color: #fefefe;
    transition: 1.2s;
    -moz-transition: 1.2s;
    -webkit-transition: 1.2s;
}

/* Media Queries */
@media (min-width:769px){
    .logo{
        float: left;
    }
    .nav-items{
        float: right;
    }
    .logo{
        width: 240px;
    }
    .nav-bar{
        margin-top: 20px;
    }
    .nav{
        position: fixed;
        max-width: 100%;
        top:0;
    }
    .nav-items li{
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    .nav-items{
        margin-top: 0;
        padding-left: 360px;
    }
    .nav-items li a{
        list-style: none;
        display: inline-block;
        text-transform: uppercase;
        margin-right: 20px;
        color: #fefefe;
    }
    .nav-items li a:hover{
        color: #fdc615;
        transition: 1.5s;
        -moz-transition: 1.5s;
        -webkit-transition: 1.5s;
        }
    .action{
        float: left;
        width: 40%;
        margin-top: 70px;
    }
    .watch{
        float: right;
        width: 60%;
    }
    .watch{
        width: 60%;
        padding: 10px;
    }
    .clearfix::after{
        content: "";
        display: table;
        clear:both;
    }
}