@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Charm');
/* Universal styling */
*{
    box-sizing: border-box;
}
body{
    background-color: #444444;
    color: #fefefe;
    font-family: 'Montserrat', sans-serif;
}
/* Layout styling */

.container{
    width: 80%;
    margin: 0 auto;
}
.logo{
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}
.nav{
    width: 100%;
}
.nav-items li{
    list-style: none;
}
.nav-items a{
    display: none;
    text-decoration: none;
}
.call{
    font-family: 'Charm', cursive;
    font-size: 60px;
    line-height: 60px;
}
.watch,.iphone,.ipad{
    width: 100%;
    text-align: center;
}
.primary{
    padding-top: 50px;
    height: 100vh;
}
.action p,.call-2,.write{
    margin-bottom: 30px;
}
.call-to-action{
    background-color: #fdc615;
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    border-radius: 50px 50px;
}
.action a{
    text-decoration: none;
}
.action a:hover,.s-content a:hover{
    border: 2px solid #fdc615;
    background-color: #444444;
    color: #fefefe;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
}
.secondary{
    padding-top: 200px;
    height: 100vh;
}
.tertiary{
    height: 100vh;
    padding-top: 90px;
}
.textbox{
    background-color: #444444;
    border-radius: 8px;
    padding: 8px 0;
    margin: 8px 0;
}

/* Media Queries */
@media (min-width:769px){
    .logo,.action,.iphone,.write{
        float: left;
    }
    .nav-items,.watch,.s-content,.ipad{
        float: right;
    }
    .logo{
        width: 240px;
    }
    .nav-bar{
        margin-top: 20px;
    }
    .nav{
        position: fixed;
        width: 100%;
        top:0;
        background-color: #444444;
        z-index: 1;
    }
    .nav-items li{
        margin: 0;
        padding: 0;
        display: inline-block;        
    }
    .nav-items{
        margin-top: 0;
        margin-right: 360px;
    }
    .nav-items li a{
        list-style: none;
        display: inline-block;
        text-transform: uppercase;
        margin-right: 20px;
        color: #fefefe;
    }
    .nav-items li a:hover{
        color: #fdc615;
        transition: 1.5s;
        -moz-transition: 1.5s;
        -webkit-transition: 1.5s;
        }
    .action{
        width: 40%;
        margin-top: 70px;
    }
    .watch{
        width: 60%;
    }
    .watch{
        width: 60%;
        padding: 10px;
    }
    .iphone{
        width: 50%;
    }
    .s-content{
        width: 50%;
    }
    .call-2,.write p{
        font-size: 30px;
    }
    .secondary{
        padding-top: 90px;
    }
    .write{
        width: 40%;
    }
    .ipad{
        width: 60%;
    }
    
    .clearfix::after{
        content: "";
        display: table;
        clear:both;
    }
}